.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    padding: 25px;
    
    input {
        height: 40px;
        font-size: 2em;
        font-weight: 400;
        border: solid 2px black;
        border-radius: 10px;
        padding-left: 7px;
    }
}

.one-column {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 25px;
    
    textarea {
        height: 200px;
        font-size: 2em;
        font-weight: 400;
        border: solid 2px black;
        border-radius: 10px;
        padding-left: 7px;
        padding-top: 7px;
    }

    .btn {
        margin-top: 25px;
        justify-self: start;
        height: 50px;
        width: 150px;
        font-size: 1.5em;
        color: white;
        border: solid 1px transparent;
        border-radius: 10px;
        background-image: linear-gradient(to right, $j4j-pink, $dipdotblue);
        box-shadow: 4px 3px 4px 0px rgba(118,117,117,0.50);
    }
}

