.link-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    background-color: $dipdotblue;
    margin-top: -10px;

    .link-grid-icon {
        margin: 20px;
        font-size: 500px;
        color: $j4j-pink;

        :hover {
            color: $j4j-fade;
            transition: 0.3s;
        }

    }
}