.msg-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    .msg-grid {
        border: solid 2px grey;
        margin: 10px;
        width: 600px;
        height: 450px;
        .icon {
            margin: 5px 5px 0px 0px;
            text-align: right;
            font-size: 2rem;
            color: red;

            :hover {
                color: $j4j-pink;
                transition: ease-in 0.3s;
            }

            :active {
                color: $dipdotblue;
            }
        }
        .two-columns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            font-size: 1.7rem;
        }

        .one-column {
            display: grid;
            grid-template-columns: 1fr;
            
            .msg-subject, .msg-message {
                font-size: 1.7rem;
            }

            .one-column_message {
                font-size: 1.5rem;
                margin-bottom: 10px;
            }
        }
    }
}