.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: $dipdotblue;

    .right-nav {

        img {
            width: 100px;
            height: 100px;
            
            &:hover {
                transition: 0.5s ease-in-out;
                filter: brightness(90%)
            }
        }

    }

    .center-nav {
        display: flex;
        align-items: center;

        .nav-link-wrapper {
            a {
                margin-left: 50px;
                text-decoration: none;
                color: white;
                font-size: 23px;
                font-weight: 600;

            }
            
            :hover {
                color: $j4j-pink;
                font-size: 26px;
                transition: 0.3s;
            }
        }
    }

    .left-nav {
        display: flex;
        justify-content: end;
        align-items: center;

        .nav-link-wrapper {
            a {
                text-decoration: none;
                color: lightgrey;
                font-size: 23px;
                font-weight: 300;
            }
        }
    }
}