.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background-color: $dipdotblue;
    @media screen and (max-width: 600px) {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: center;
    }

    .left-nav {

        img {
            width: 100px;
            height: 100px;
            
            &:hover {
                transition: 0.5s ease-in-out;
                filter: brightness(90%)
            }
        }

        @media screen and (max-width: 600px) {
            img {
                width: 175px;
                height: 175px;
            }
        }

    }

    .center-nav {
        display: flex;
        align-items: center;

        .nav-link-wrapper {
            a {
                margin-left: 50px;
                text-decoration: none;
                color: white;
                font-size: 23px;
                font-weight: 600;

            }
            
            :hover {
                color: $j4j-pink;
                font-size: 26px;
                transition: 0.3s;
            }

            .nav-link-active {
                border-bottom: 1px solid $j4j-fade;
                padding-bottom: 6px;
                color: $j4j-pink;
            }
        }

        @media screen and (max-width: 600px) {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-left: -50px;
            margin-top: 25px;
            font-size: 40px;
        }
    }

    .right-nav {
        display: flex;
        justify-content: end;
        align-items: center;

        .nav-link-wrapper {
            a {
                text-decoration: none;
                color: lightgrey;
                font-size: 23px;
                font-weight: 300;
            }
        }
        @media screen and (max-width: 600px) {
            justify-content: center;
        }
    }
}