.shop-products {    
    .shop-product{
        display: grid;
        grid-template-rows: 1/-1;
        grid-template-columns: 1fr 1fr 1fr;
    
        justify-items: center;
        .shop-product_grid {
            justify-items: center;
            align-content: center;
        }
    
        img{
            height: 275px;
            width: 275px;
            margin-top: 20px;
        }
    
    }

    .shop-product_title{
        text-align: center;
        font-size: 25px;
        margin-top: 20px;
    }

    .shop-product_price{
        text-align: center;
        font-size: 15px;
        margin-bottom: 15px;
    }
}
